* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  background-color: #131112;
  font-family: 'Inter', sans-serif;
  color: #343a40;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

input:focus-visible,select:focus-visible{
	outline: none;
}

input, textarea, select {
	background-color: #ced4da;
	color: #343a40;
}
