* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  background-color: #131112 !important;
  font-family: 'Inter', sans-serif !important;
  color: #343a40;
}
p {
	margin: 0 !important;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

input:focus-visible,select:focus-visible{
	outline: none;
}

input, textarea, select {
	background-color: #ced4dae5;
	color: #343a40;
}

.no-footer{
	padding-bottom: 30px !important;
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 10px;
  }
  
::-webkit-scrollbar-track {
background: transparent;
}
  
::-webkit-scrollbar-thumb {
background: #82A7A6;
border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
background: #3d5756;
}